<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DeForestClient</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
  <div id="app"></div>

  <script src="../static/keythereum.min.js"></script>
  <script src="https://rawgithub.com/ethereum/web3.js/1.0/dist/web3.min.js"></script>
	<script src="https://cdn.rawgit.com/ethereumjs/browser-builds/2fb69a714afe092b06645286f14b94f41e5c062c/dist/ethereumjs-tx.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../static/app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ6n1UlP-j4-h0HT-xe4rzFNbX3WZWPq4&callback=initMap&language=ru&region=RU"></script>
</body>
</html>
